.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}
* {
  // outline: 1px solid #000;
}
.bg-cover{
  background-size: cover;
}
.indexAboutImg{
  min-height:400px;
  background-position: center;
}
.border-radiaus{
  border-radius: 40px;
}
@media (max-width:767px){
  .translate-middle-y {
    transform: none !important;
    /* transform: translateY(-50%)!important; */
  }
}
  @media (max-width: 768px) { 
    .mb-240{
      margin-bottom: 240px !important;
    }
    .min-h140{
      min-height:140px;
    }
  }
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.object-fit {
  object-fit: cover;
}
  /* background: linear-gradient(90deg, #eeedea, #eeedea 78%, #ffffff 77%); */
.test{
  position: relative;
  background-image:linear-gradient(180deg,#D8D2C5,#D8D2C5);
  background-size: 96% 100%;
  background-repeat: no-repeat;
}
@media (max-width: 768px) { 
  .test{
    background-size: 100% 100%;
  }
}
  .swiper-pagination{
    position: absolute;
    bottom: 0;
    left: 50% !important;
    width: 30% !important;
    transform: translateX(-50%) !important;
    text-align: center;
    z-index: 3;
  }
  .swiper-button-next, .swiper-button-prev {
    color: #46633D !important;
}
.swiper-pagination-bullet{
  background-color: #46633D !important;
}

.banner-img {
  background-size: cover;
  height: 100vh;
  background-attachment: scroll; 
  color: #fff;
  text-align: center;
}
  